html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif, Helvetica, Arial, sans-serif;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Share Tech Mono', monospace, Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 48px;
	font-weight: normal;
	margin-bottom: 5px;
	
}

h2{
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 5px;
}

p{
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}

.one-half, .one-third, .one-fourth, .span_1_of_9, .span_4_of_9 {
   width:100%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }


a {
	font-family: 'share tech mono', monospace;
}

a:link {
	text-decoration: none;
	color:#333333;
}

/* Header */
	/* header general */
header {
	color:#333333;
	background: #ffffff;
	padding: 12px 0;
}

	/* header logo */

header nav .site-logo img {
	text-align: center;
	height: 25px;
	vertical-align: center;
}

	/* header main navigation */

header nav {
	padding:1em 0;
}
header .one-half {
	margin-bottom: 0px;
}
header nav ul {
	text-align: right;
	float: right;
	margin:0;
	position: relative;
    list-style: none;
    display: inline-block;
}
header nav ul > li {
	font-size: 16px;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}


#signup {
	margin: 0;
}
header nav ul > li.btn-outline {
	padding: 3px 25px;
	border:0.5px solid #FBB03B;
}
header nav ul > li.btn-outline a {
	display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 2em;     
  margin: -2em;
}
header nav ul > li.btn-outline:hover {
	background:#FBB03B;
}
header nav ul > li a img{
	height: 25px;
}
header > .container {
	padding-top: 0px;
	padding-bottom: 0px;
}


	/* jumbotron */

.jumbotron {
	background-image: url(https://cloud.githubusercontent.com/assets/25590792/24584547/a033eccc-1736-11e7-9667-177e1501e9b3.png);
	background-size: cover;
	background-repeat: none;
	text-align:center;
	display:block;
	position: relative;
}

.jumbotron .container {
	padding: 90px 0;
}

.jumbotron p {
	font-size: 18px;
	font-weight: normal;
	margin: 25px 0 20px;
}

#lastline {
	margin: 20px auto 30px;
}

.jumbotron img {
	display: block;
	margin: 0 auto;
	max-width: 410px;
}

.jumbotron p::first-line {
	margin-top: 300px;
}

/* BUTTONS */
.btn {
	color: #333333;
	font-size: 21px;
	font-weight: normal;
	text-decoration:none;
	padding: 8px 40px;
	background: #FBB03B;
	border: none;	
}
.btn:hover {
	box-shadow: 2px 2px;
}
.btn:active {
	box-shadow: 0;
}

/* Features */
.benefits > .container {
	width: 100%;
	padding-left:0;
}
	/* icons */
.benefits ul {
	color: #333333;
	list-style: none;
	text-align: center;
	margin:30px 0 20px;
	padding:0;
}

.benefits ul > li {
	vertical-align: middle;
	display: inline-block;
	padding:10px 10px;
}

.benefits .rectangle {
	text-align: center;
	display: block;
	padding: 0;
	margin: auto;
}

	/* text */
		/* grid */
.col {
	display: block;
	float:left;
}

		/* group */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.benefits h3 {
	margin: 0;
}

.benefits h2 {
	font-family: 'Nunito', sans-serif, Helvetica;
	font-size: 28px;
	font-weight: 600;
	margin: 10px 10px;
}

.benefits .image {
	text-align: center;
}
.benefits img {
	max-width: 350px;
}

.benefits ul h2,  
.benefits ul p {
	text-align: right;
}


.benefits ul .dot {
	padding-top: 18px;
	text-align: center;
	vertical-align: center;
}
.benefits ul .dot > img{
	max-height: 20px;
}
.benefits .conclusion0 {
	font-size: 28px;
	color: #ffffff;
	background-color: #333333;
	text-align: center;
	padding: 0;
	max-width: 400px;
	margin:80px auto;
}
.benefits ul img {
	text-align: right;
}
.benefits .conclusion1 {
	font-size: 32px;
	color: #ffffff;
	background-color: #333333;
	text-align: center;
	padding: 0;
	max-width: 800px;
	margin:60px auto 0;
}

.benefits .conclusion2 {
	font-size: 32px;
	color: #ffffff;
	background-color: #333333;
	text-align: center;
	padding: 0;
	max-width: 400px;
	margin: 10px auto 100px auto;
}

/* Testimonials */
	/* intro */
.testimonials .intro {
	background-color: #333333;
	padding:10px 0 30px 0; 
	text-align: center;
	width:100%;
	margin:auto;
}
.testimonials .intro h1 {
	color: #F8B133;
	text-align: center;
	font-size: 48px;
}	
.testimonials .intro p {
	color: #ffffff;
	text-align: center;
}


	/* quote */
.testimonials .quote {
	background-image: url(http://wx2.sinaimg.cn/large/6de62054gy1fe99vulbmvj21400ls1ff.jpg);
	background-size: 100%;
	background-repeat: none;
	text-align:center;
	display:block;
	position: relative;
	padding: 0;
	width: 100%;
}
.testimonials .quote-text {
	margin-top: 40%;
	background-color: #F8B133;
	max-width: 600px;
	padding:5px;
	margin-left: 20px;
	margin-bottom: 50px;
}
.testimonials blockquote {
	text-align: left;
}
.testimonials .name {
	padding-right: 10px;
}

/* pricing */
.pricing .container {
	padding:0;
}
.pricing h1 {
	font-family: 'share tech mono', monospace, sans-serif, Helvetica;
	font-size: 36px;
	text-align: center;
	margin:70px auto;
}
.pricing .box1 {
	color:#ffffff;
	background: #333333;
	text-align: center;
	padding: 20px 5px 100px;
	max-width: 250px;
	height: 250px;
	margin: 8px auto;
}
.pricing .box3 {
	color:#ffffff;
	background: #333333;
	text-align: center;
	padding: 20px 5px 100px;
	max-width: 250px;
	height: 250px;
	margin: 8px auto;
}
.pricing .box-middle {
	background: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	box-shadow: 8px 5px;
	text-align: center;
	padding: 20px 5px 100px;
	max-width: 250px;
	height: 250px;
	margin:auto;
}
.pricing h4 {
	text-align: center;
	font-size: 28px;
	margin: 0px auto;
}
.pricing h2 {
	text-align: center;
	font-family: 'Nunito',sans-serif,Helvetica;
	font-size: 48px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.pricing .price {
	display: inline-block;
}
.pricing .per {
	display: inline-block;
	font-size: 15px;
	margin-bottom: 40px;
}
.pricing ul {
	list-style: none;
	padding: 0 40px;
}

.pricing ul li {
	text-align: left;
	padding-bottom: 5px;
}
#userschoice {
	text-align: center;
	color: #ffffff;
	background-color: #EC644B;
	max-width: 150px;
	margin:auto;
}

/* bottom sign up */
.bottomsignup .container {
	text-align: center;
	margin-top: 50px;
}
.bottomsignup .container p {
	text-align: center;
	margin-top: 30px;
}
.bottomsignup .btn {
	padding: 8px 80px;
	font-size: 28px;
}
/* question */
.question {
	text-align: center;
	margin-top: 200px;
}
.question > .btn {
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	padding: 10px 25px;
}
.question > .btn:hover {
	color: #ffffff;
	background-color: #333333;
}

/* footer */
footer {
	margin: 200px auto 10px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
footer .left-footer-block {
	text-align: left;
	font-size: 14px;
}

footer nav {
	vertical-align: bottom;
	text-align: right;
}

footer nav ul {
	display: inline-block;
	list-style: none;
	text-align: right;
}
footer nav ul li {
	display: inline-block;
	padding-right: 10px;
}
footer nav ul li a {
	color:#333333;
	display: inline-block;
	font-size: 14px;
}
footer nav ul li a {
	padding-left: 8px;
}

/* Media queries */
@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
@media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header nav .one-half {
		width: 46%;
	}
	header nav .one-third {
     width:29.33333%;
    }
    .span_4_of_9 {
    	width:96%;
    }
    .span_1_of_9 {
    	display: none;
    }
   
	#navisignup {
		display: none;
	}
	#navisignin {
		display: none;
	}
	 .jumbotron img {
    	width: 70%;
    }
    .benefits .container h2 {
    	text-align: center;
    }
    .benefits .container p {
    	text-align: center;
    }
    .testimonials .intro h1 {
    	font-size: 36px;
    }
    .testimonials .intro p {
    	font-size: 14px;
    }
    .testimonials .quote {
    	background-size: 100%;
    	background-repeat: none;
    	width: 100%;
    	height:auto;
    }
    .testimonials .container .quote-text {
		background: rgb(248, 177, 51, .6);
		max-width: 80%;
		margin: 10px auto;
		opacity: 0.85;
	}
	.pricing .container h1 {
		font-size: 36px;
		margin: 30px auto 20px;
	}
	.pricing .box1,
	.pricing .box-middle,
	.pricing .box3 {
		max-height: 230px;
	}
	.pricing .box1,
	.pricing .box3 {
		color: #333333;
		background-color: #ffffff;
		border-color: #333333;
		border-style: solid;
		border-width: 1px;
	}
}

@media only screen and (min-width : 768px) and (max-width: 992px) {
	.one-half {
		width: 46%;
	}
	 .one-third {
     width:29.33333%;
    }
    .span_4_of_9 {
    	width:43.55%;
    }
    .span_1_of_9 {
    	width: 9.688%;
    }
    .jumbotron img {
    	width: 50%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.one-half {
		width: 46%;
	}
	.one-third {
     width:29.33333%;
    }
    .span_4_of_9 {
    	width:43.55%;
    }
    .span_1_of_9 {
    	width: 9.688%;
    }
	#navisignup {
		display: inline;
	}
	#navisignin {
		display: inline;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.one-half {
		width: 46%;
	}
	.one-third {
     width:29.33333%;
   }
   .span_4_of_9 {
    	width:43.55%;
    }
    .span_1_of_9 {
    	width: 9.688%;
    }
	
}

/* DASHBOARD */
.dashboard {

}
a, a:visited {
	text-decoration: none;
	color:#333333;
}

/* LEFT NAVBAR */
.left-nav {
	height:100vh;
	width:15.33%;
	color: #333333;
	float: left;
	position: fixed;
	display: block;
}
.left-nav .site-logo {
	padding: 20px 0;
	display: block;
	text-align: center;
}
.left-nav .site-logo img {
	max-height: 40px;
}
.left-nav .items {
	padding: 0 6%;
}
.left-nav .items ul {
	list-style: none;
	margin: 0 20px 0 20px;
	padding: 0;
}
.left-nav .items ul li {
	margin: 0px;
}
.left-nav .items ul li a {
	text-decoration: none;
}
.left-nav .items ul li a:active {
	text-decoration: none;
	background-color: #333333;
	color:#ffffff;
}
.left-nav .items ul li .image_active {
	text-decoration: none;
	background-color: #333333;
	color:#ffffff;
}
.left-nav .items ul li a i {
	text-decoration: none;
	display: inline-block;
}

.left-nav .items ul li a p {
	text-decoration: none;
	display: inline-block;
	margin: 10px 0;
}

/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
	position:absolute;
	width:100%;
	height: 80px;
	bottom:0px;
	left:0px;
}

.left-nav .settings img {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.left-nav .settings .overlay {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	opacity: 0;
	transition: .5s ease;
	background-color: #333333;
}

.left-nav .settings:hover .overlay {
	opacity: 1;
}

.left-nav .text {
	color: #ffffff;
	position: absolute;	
	bottom: 0px;
	left: 0px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.left-nav .settings a {
	height:60px;
	width:60px;
	border-radius: 50%;
	bottom: 0px;
	left: 0px;
	padding: 0;
	color: #ffffff;
	position: absolute;
}

/*
	bottom: 50%;
	left: 50%;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
*/


/* CONTENT */
.content {
	padding:6em 1% 1.5em;
	float:right;
	width:86%;
	position: relative;
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.40);
}
.content .btn {
	max-width: 100px;
	padding: 10px 10px;
}
.content p {
	display: inline-block;
}
.content li {
	display: inline-block;
	text-align: center;
}
.content ul {
	text-align: right;
	display: inline-block;
}
.content-item {
	width:96%;
	margin:0 0.5% 15px;
	float:left;
	display:block;
}
.content-item h2 {
	font-family:'Nunito',Helvetica,sans-serif;
	font-size: 21px;
	margin-top: 5px;
}
.content-item h3 {
	margin:0;
}
.content-item h3 > a {
	font-family: 'Nunito',Helvetica,sans-serif;
	font-size: 15px;
}
.content-item p {
	margin:5px 0 15px;
}
.content-item .collaborator {
	background-color: #bfbfbf;
	color: #333333;
	padding:3px;
}
.item-box {
	display:block;
	height:230px;
	background: #FFFFFF;
	position: relative;
	overflow: hidden;
	padding:10px;
	border-width: 0.25px;
	border-style: solid;
	border-color: #bfbfbf;
}
.image {
    text-align: center;
    padding: 0;
    height:250px;
}
.content-item img {
	max-height: 100%;
	width:auto;
}

/* Small Mobile Devices */
@media only screen and (max-width:460px) {
 	.left-nav .items ul {
 		text-align: center;
 	}
 	.left-nav .items ul li a p {
 		display: none;
 	}
 	.left-nav .items ul li a i {
 		margin: 10px auto;
 	}
 	.rectangle_dash {
 		display: none;
 	}
   .content {
     padding:1.5em 1%;
     float:right;
     width:83%;
     position: relative;
   }
   .content-item {
     width:90%;
     margin:0 2% 15px;
     float:left;
     display:block;
   }
 }

/* Larger Mobile Devices */
@media only screen and (min-width:460px) and (max-width:767px){
 	.left-nav .items ul {
 		text-align: center;
 	}
 	.left-nav .items ul li a p {
 		display: none;
 	}
 	.left-nav .items ul li a i {
 		margin: 10px auto;
 	}
 	.rectangle_dash {
 		display: none;
 	}
}
@media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83%;
     position: relative;
   }
   .content-item {
     width:45%;
     margin:0 2% 15px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 2%;
     float:right;
     width:78.33333333%;
     position: relative;
   }
   .content > .container {
     width:700px;
     margin-righ: 0;
   }
   .content-item {
     width:49%;
     margin:0 0.5% 15px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:32.26%;
     margin:0 0.5% 15px;
   }
 }










