html, body {
	overflow-x: hidden;
}

body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Share Tech Mono", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 48px;
	font-weight: normal;
	margin-bottom: 5px;
	 -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h2{
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 5px;
}

p{
	font-size: 21px;
	line-height: 19px;
	font-weight: 100;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}





















